.booking-form {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    column-gap: 150px;
    height: 400px;
}

.booking-img {
    position: relative;
}

.booking-img img {
    position: absolute;
    text-align: center;
    left: 150px;
    bottom: -30px;
    height: 370px;
}

.form h3 {
    color: #ee964b;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 1.6rem;
}

@media(max-width: 678px) {
    .booking-form {
        display: block;
    }
    
    .booking-img {
        display: none;
    }

    .form h3 {
        text-align: center;
    }
}