.navbar {
  height: 4rem;
  padding: 3px 5rem;
  font-family: 'Roboto', sans-serif;
  background-color: #201b18;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo {
  display: flex;
  align-items: center;
  width: 150px;
}

.navbar .logo img {
  width: 100%;
  object-fit: cover;
}

.nav-items {
  width: 350px;
  min-width: 200px;
}

.nav-items ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.navbar .item {
  text-decoration: none;
  font-size: 17px;
  color: #fff;
}

.navbar .item:hover {
  color: #ee964b;
}

.navbar .activate {
  color: #ee964b;
}

.navbar .activate:hover {
  color: #fff;
}

.navbar .contact {
  display: flex;
  align-items: center;
}

.contact svg {
  margin-right: 10px;
  color: #ee964b;
}

.contact .numbers {
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.contact .numbers p {
  margin: 0;
}

@media(max-width: 820px) {
  .navbar {
    padding: 0 2rem;
    justify-content: center;
  }

  .navbar .logo {
    display: none;
  }

  .navbar .contact {
    display: none;
  }
}
